@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Comforter&family=Quicksand:wght@300;400;500;600;700&display=swap');

/* GENERAL COLORS */
$bg-main: #C6A4C6;
$bg-alt: #452B45;

/* FONT COLORS */
$text-dark: #2F1E2F;
$text-purple: #6E19E5;

/* FONTS */
$inter-fnt: 'Quicksand', sans-serif;
$style-fnt: 'Comforter', cursive;
$head-fnt: 'Agdasima', sans-serif;


/* CONTAINER SIZES */
$container-lg: 76%;
$container-md: 90%;
$container-sm: 92%