@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* GENERAL COLORS */
$bg-decade: #DECADE;

/* FONT COLORS */
$text-dark: #0F253E;
$text-purple: #6E19E5;

/* FONTS */
$inter-fnt: 'Inter', sans-serif;
$style-fnt: 'Comforter', cursive;

/* CONTAINER SIZES */
$container-lg: 76%;
$container-md: 80%;
$container-sm: 90%